@model RedeSocialWeb.Models.PerfilViewModel

@{
    ViewBag.Title = "Create";
}
<h2>Bem vindo!</h2>

@using (Html.BeginForm("Create", "Perfils", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h5>Informe seu nome e uma foto para seu perfil</h5>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.NomeExibicao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NomeExibicao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NomeExibicao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FotoPerfil, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-4 col-sm-4">

                        <div class="input-group image-preview">
                            <input type="text" class="form-control image-preview-filename" disabled="disabled">
                            <span class="input-group-btn">

                                <button type="button" class="btn btn-danger image-preview-clear" style="display:none;">
                                    <span class="glyphicon glyphicon-remove"></span> Excluir
                                </button>

                                <div class="btn btn-default image-preview-input">
                                    <span class="glyphicon glyphicon-folder-open"></span>
                                    <span class="image-preview-input-title">Buscar</span>
                                    <input type="file" accept="image/png, image/jpeg, image/gif" name="imgPerfil" />
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="form-group">
   
                <div class="col-md-offset-2 col-md-10">

                    <input type="submit" value="Salvar" class="btn btn-default" />
                </div>
            </div>
        
    </div>
      }
