<!DOCTYPE html>
<html>
<head>
    <style>
        .navbar{color:#09b22c}
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @using Microsoft.AspNet.Identity
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/jquery-3.1.1.min.js")
    @Scripts.Render("~/Scripts/Site.js")

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            @if (Request.IsAuthenticated)
            {
                @Html.ActionLink("HortoHome", "Index", "Gerenciador", new { area = "" }, new { @class = "navbar-brand" })
            }else
            {
                @Html.ActionLink("HortoHome", "Register", "Account", new { area = "" }, new { @class = "navbar-brand" })
            }
            <img src="~/Content/img/Logo_HortoHome.png" />
            </div>
            <div class="navbar-collapse collapse">
                
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                        </li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">SAIR</a></li>
                    </ul>
                }

                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Meu Perfil", "Index", "Gerenciador")</li>
                    <li>@Html.ActionLink("Minha rede", "Inicio", "Gerenciador")</li>
                    <li>@Html.ActionLink("Postar", "Create", "Postagems")</li>
                    <li>@Html.ActionLink("Toda a Rede", "TodaRede", "Gerenciador")</li>
                </ul>
            }
            else
            {
                <ul class="nav pull-right">
                    <li class="">@Html.Partial("_LoginPartial", new ViewDataDictionary())</li>
                </ul>
           }


</div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
