<!DOCTYPE html>
<html>
<head>
    <style>
        .navbar{color:#09b22c}
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/jquery-3.1.1.min.js")
    @Scripts.Render("~/Scripts/Site.js")

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            @if (Request.IsAuthenticated)
            {
                @Html.ActionLink("HortoHome", "Index", "Gerenciador", new { area = "" }, new { @class = "navbar-brand" })
            }else
            {
                @Html.ActionLink("HortoHome", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
            @if (Request.IsAuthenticated)
            {
                <li>@Html.ActionLink("Meu Perfil", "Index", "Gerenciador")</li>
                <li>@Html.ActionLink("Minha rede", "Inicio", "Gerenciador")</li>
                <li>@Html.ActionLink("Postar", "Create", "Postagems")</li>
                <li>@Html.ActionLink("Toda a Rede", "TodaRede", "Gerenciador")</li>
            }
            else
            {
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
            }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
