@model IEnumerable<RedeSocialWeb.Models.PerfilViewModel>
    <hr />
<div class="col-sm-4 sidenav">
    <div class="thumbnail"></div>
</div>
<div class="col-sm-4 text-left">
    <p>
        @Html.Partial("../BuscaPerfis/BuscaDePerfis", new ViewDataDictionary())
    </p>
    <hr />
    @foreach (var usuario in Model)
    {
        <div class="thumbnail col-sm-12 col-xs-12">
            <a href="@Url.Action("../Gerenciador/PerfilVisitado", new { userId = usuario.UserID } )">
                <div class="thumbnail col-sm-4 col-xs-4">
                    <img id="foto-thumb-seguir" src="@usuario.FotoPerfil" title="@usuario.NomeExibicao" class="foto-thumb-seguir" />
                    <figcaption class="cap-thumb-seguir caption">
                        @usuario.NomeExibicao.ElementAt(0)
                    </figcaption>
                </div>

                <div class="col-sm-8 col-xs-8">

                    <span class="nome-perfil">@usuario.NomeExibicao</span>
                    <span>&nbsp;</span>
                    <span>&nbsp;</span>
                    <span class="btn btn-primary">ver perfil</span>

                </div>
            </a>
        </div>
    }
</div>
<div class="col-sm-4 sidenav">
    <div class="thumbnail"></div>
</div>
<div class="col-sm-12 col-md-12 col-xs-12 sidenav">&nbsp;</div>
