@model Negocio.Dominio.Perfil

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Perfil</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeExibicao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeExibicao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FotoPerfil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FotoPerfil)
        </dd>

    </dl>
</div>
<p>  

@if (Model.UserID.ToString() == Session["UserId"].ToString())
{
    @Html.ActionLink("Edit", "Edit", new { id = Model.id })
}
else
{
    @Html.ActionLink("Seguir", "Seguir", new { id = Model.id })
}
</p>
